# Data Wrangling


In this notebook I will flatten the JSON file to get attributes as boolean columns. I will also impute missing values and switch my True and False values to 1-0 values so they are compatible with the modeling.

In [ ]:
import patoolib
import tarfile
import os
import json
import csv
import pandas as pd
from pandas.io.json import json_normalize

path = r'C:\Users\ziggy\Springboard\Python_Projects\Yelp Restaurant Analysis\Data'

In [7]:
os.chdir(path)

t1 = os.listdir('.')[2]
t1

'yelp_dataset.tar'

In [8]:
tar = tarfile.open(t1)
tar.extractall()
tar.close()

In [23]:
business_json_path = r'C:\Users\ziggy\Springboard\Python_Projects\Yelp Restaurant Analysis\Data\yelp_academic_dataset_business.json'
with open(business_json_path, encoding="utf8") as f:
    d = json.load(f)

In [4]:
categories =  'attributes.Accepts Credit Cards','attributes.Accepts Insurance','attributes.Ages Allowed','attributes.Alcohol','attributes.Ambience.casual','attributes.Ambience.classy','attributes.Ambience.divey','attributes.Ambience.hipster','attributes.Ambience.intimate','attributes.Ambience.romantic','attributes.Ambience.touristy','attributes.Ambience.trendy','attributes.Ambience.upscale','attributes.Attire','attributes.BYOB','attributes.BYOB/Corkage','attributes.By Appointment Only','attributes.Caters','attributes.Coat Check','attributes.Corkage','attributes.Delivery','attributes.Dietary Restrictions.dairy-free','attributes.Dietary Restrictions.gluten-free','attributes.Dietary Restrictions.halal','attributes.Dietary Restrictions.kosher','attributes.Dietary Restrictions.soy-free','attributes.Dietary Restrictions.vegan','attributes.Dietary Restrictions.vegetarian','attributes.Dogs Allowed','attributes.Drive-Thru','attributes.Good For Dancing','attributes.Good For Groups','attributes.Good For.breakfast','attributes.Good For.brunch','attributes.Good For.dessert','attributes.Good For.dinner','attributes.Good For.latenight','attributes.Good For.lunch','attributes.Good for Kids','attributes.Hair Types Specialized In.africanamerican','attributes.Hair Types Specialized In.asian','attributes.Hair Types Specialized In.coloring','attributes.Hair Types Specialized In.curly','attributes.Hair Types Specialized In.extensions','attributes.Hair Types Specialized In.kids','attributes.Hair Types Specialized In.perms','attributes.Hair Types Specialized In.straightperms','attributes.Happy Hour','attributes.Has TV','attributes.Music.background_music','attributes.Music.dj','attributes.Music.jukebox','attributes.Music.karaoke','attributes.Music.live','attributes.Music.video','attributes.Noise Level','attributes.Open 24 Hours','attributes.Order at Counter','attributes.Outdoor Seating','attributes.Parking.garage','attributes.Parking.lot','attributes.Parking.street','attributes.Parking.valet','attributes.Parking.validated','attributes.Price Range','attributes.Smoking','attributes.Take-out','attributes.Takes Reservations','attributes.Waiter Service','attributes.Wheelchair Accessible','attributes.Wi-Fi','business_id','categories','city','full_address','hours.Friday.close','hours.Friday.open','hours.Monday.close','hours.Monday.open','hours.Saturday.close','hours.Saturday.open','hours.Sunday.close','hours.Sunday.open','hours.Thursday.close','hours.Thursday.open','hours.Tuesday.close','hours.Tuesday.open','hours.Wednesday.close','hours.Wednesday.open','latitude','longitude','name','neighborhoods','open','review_count','stars','state','type'



test_cat = ['attributes.Accepts Credit Cards','attributes.Accepts Insurance','attributes.Ages Allowed','attributes.Alcohol','attributes.Ambience.casual','attributes.Ambience.classy','attributes.Ambience.divey','attributes.Ambience.hipster','attributes.Ambience.intimate','attributes.Ambience.romantic','attributes.Ambience.touristy','attributes.Ambience.trendy','attributes.Ambience.upscale','attributes.Attire','attributes.BYOB','attributes.BYOB/Corkage','attributes.By Appointment Only','attributes.Caters','attributes.Coat Check','attributes.Corkage','attributes.Delivery','attributes.Dietary Restrictions.dairy-free','attributes.Dietary Restrictions.gluten-free','attributes.Dietary Restrictions.halal','attributes.Dietary Restrictions.kosher','attributes.Dietary Restrictions.soy-free','attributes.Dietary Restrictions.vegan','attributes.Dietary Restrictions.vegetarian','attributes.Dogs Allowed']

file_path = r'C:\Users\ziggy\Springboard\Python_Projects\Yelp Restaurant Analysis\Data'

In [8]:
df_1 = pd.read_json(business_json_path, lines=True)
df_1.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [12]:
#Flattening the JSON File

beans = df_1['attributes']
atts = pd.io.json.json_normalize(beans)
atts

C:\Users\ziggy\AppData\Local\Temp/ipykernel_13316/2099795277.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  atts = pd.io.json.json_normalize(beans)

,ByAppointmentOnly,BusinessAcceptsCreditCards,BikeParking,RestaurantsPriceRange2,CoatCheck,RestaurantsTakeOut,RestaurantsDelivery,Caters,WiFi,BusinessParking,...,AcceptsInsurance,BestNights,BYOB,Corkage,BYOBCorkage,HairSpecializesIn,Open24Hours,RestaurantsCounterService,AgesAllowed,DietaryRestrictions
0,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,True,True,2,False,False,False,False,u'no',"{'garage': False, 'street': False, 'validated'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,False,True,1,NaN,True,False,True,u'free',"{'garage': False, 'street': True, 'validated':...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,True,True,NaN,NaN,True,NaN,False,NaN,"{'garage': None, 'street': None, 'validated': ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,False,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150342,NaN,True,True,2,NaN,NaN,NaN,NaN,u'no',"{'garage': False, 'street': False, 'validated'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150343,NaN,True,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150344,NaN,True,True,4,NaN,None,None,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150345,False,True,False,1,NaN,NaN,NaN,NaN,u'free',"{'garage': False, 'street': False, 'validated'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
parking_data = json_normalize(data=df_1['attributes'], record_path=['BusinessParking','ambience'])

C:\Users\ziggy\AppData\Local\Temp/ipykernel_13316/878643238.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  parking_data = json_normalize(data=df_1['attributes'], record_path=['BusinessParking','ambience'])

KeyError: 'BusinessParking'

In [13]:
# Concatenating the file back together. 

df_exp = pd.concat([df_1, atts.reindex(df_1.index)], axis=1)

In [14]:
df_exp.to_csv('testing.csv')

In [15]:
df_exp.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,AcceptsInsurance,BestNights,BYOB,Corkage,BYOBCorkage,HairSpecializesIn,Open24Hours,RestaurantsCounterService,AgesAllowed,DietaryRestrictions
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This is good.

In [48]:
df_test2 = pd.read_csv('yelp_academic_dataset_business.csv')

C:\Users\ziggy\anaconda3\envs\Springboard\lib\site-packages\IPython\core\interactiveshell.py:3251: DtypeWarning: Columns (2,5,8,15,18,21,27,30,43,49,52,62,64,66,70,84,89,92,100) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [72]:
df_2 = pd.read_csv('testing.csv')

C:\Users\ziggy\anaconda3\envs\Springboard\lib\site-packages\IPython\core\interactiveshell.py:3251: DtypeWarning: Columns (18,44,49) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [74]:
df_2.describe()

,Unnamed: 0,latitude,longitude,stars,review_count,is_open
count,25864.000000,25864.000000,25864.000000,25864.00000,25864.000000,25864.000000
mean,64492.331465,37.252587,-88.020453,3.43373,56.032168,0.668574
std,46952.906364,6.071281,14.126936,0.87332,123.647564,0.470735
min,3.000000,27.578648,-120.026076,1.00000,5.000000,0.000000
25%,16939.750000,32.236392,-90.254283,3.00000,10.000000,0.000000
50%,60884.000000,39.541587,-86.020095,3.50000,22.000000,1.000000
75%,105720.000000,39.968886,-75.317813,4.00000,55.000000,1.000000
max,150340.000000,53.649490,-74.661348,5.00000,4554.000000,1.000000

In [77]:
df_2['attributes'].json_normalize()

AttributeError: 'Series' object has no attribute 'json_normalize'

In [50]:
df_test2.describe()

,latitude,attributes.Price Range,review_count,stars,longitude
count,42153.000000,27957.000000,42153.000000,42153.000000,42153.000000
mean,36.528631,1.782630,29.332313,3.674649,-104.090080
std,5.824484,0.721778,92.499249,0.886985,28.369369
min,32.876638,1.000000,3.000000,1.000000,-115.369725
25%,33.476439,1.000000,4.000000,3.000000,-115.136180
50%,33.678615,2.000000,8.000000,3.500000,-112.068200
75%,36.142107,2.000000,21.000000,4.500000,-111.882427
max,56.033777,4.000000,4084.000000,5.000000,-3.050088

In [53]:
pattern = 'Restaurant|Restaurants|restaurants|retaurant'
categories = df_test2['categories'].str.contains(pattern, case=False, na=False)
categories

0        False
1         True
2         True
3         True
4         True
         ...
42148     True
42149    False
42150    False
42151     True
42152    False
Name: categories, Length: 42153, dtype: bool

In [54]:
df_Test_f = df_test2[categories]

In [55]:
df_Test_f.describe()

,latitude,attributes.Price Range,review_count,stars,longitude
count,14303.000000,13348.000000,14303.000000,14303.000000,14303.000000
mean,36.794109,1.610204,53.760330,3.464623,-102.938527
std,6.050651,0.651254,128.973461,0.712039,29.278837
min,32.876638,1.000000,3.000000,1.000000,-115.351900
25%,33.467066,1.000000,7.000000,3.000000,-115.119370
50%,33.709535,2.000000,18.000000,3.500000,-112.064755
75%,36.146614,2.000000,52.000000,4.000000,-111.857675
max,56.030888,4.000000,4084.000000,5.000000,-3.050088

In [80]:
df_test_2 = pd.read_csv('yelp_academic_dataset_business.csv')

C:\Users\ziggy\anaconda3\envs\Springboard\lib\site-packages\IPython\core\interactiveshell.py:3251: DtypeWarning: Columns (5,8,15,18,21,49,55,62,66,70,82,100) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [81]:
df_test_2

,business_id,attributes.Ambience.divey,attributes.Dietary Restrictions.vegan,attributes.Happy Hour,hours.Thursday.open,attributes.Order at Counter,attributes.Hair Types Specialized In.africanamerican,attributes.Hair Types Specialized In.kids,attributes.BYOB,hours.Friday.open,...,attributes.Smoking,attributes.Attire,attributes.Hair Types Specialized In.curly,attributes.Good For Groups,neighborhoods,attributes.Open 24 Hours,attributes.Ambience.romantic,attributes.Hair Types Specialized In.perms,attributes.Music.jukebox,attributes.Ambience.upscale
0,JwUE5GmEO-sH1FuwJgKBlQ,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,casual,NaN,True,NaN,NaN,False,NaN,NaN,False
1,uGykseHzyS5xAMWoN6YUqA,False,NaN,NaN,6:00,NaN,NaN,NaN,NaN,6:00,...,NaN,casual,NaN,True,NaN,NaN,False,NaN,NaN,False
2,LRKJF43s9-3jG9Lgx4zODg,NaN,NaN,NaN,10:30,NaN,NaN,NaN,NaN,10:30,...,NaN,casual,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
3,RgDg-k9S5YD_BaxMckifkg,NaN,NaN,NaN,11:00,NaN,NaN,NaN,NaN,11:00,...,NaN,casual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rdAdANPNOcvUtoFgcaY9KA,True,NaN,NaN,6:00,NaN,NaN,NaN,NaN,6:00,...,NaN,casual,NaN,True,NaN,NaN,False,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18320,OEUIE8VBa1BbBfr5EPcTOA,False,NaN,NaN,8:00,NaN,NaN,NaN,NaN,8:00,...,NaN,casual,NaN,True,NaN,NaN,False,NaN,NaN,False
18321,yZXEELxi8KMwzXCHP345GQ,False,NaN,False,11:00,NaN,NaN,NaN,NaN,11:00,...,outdoor,casual,NaN,True,Westside,NaN,False,NaN,NaN,False
18322,uUsfpN81JCMKyH6c0D0bTg,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,casual,NaN,True,Summerlin,NaN,False,NaN,NaN,False
18323,BMjggIgOghBMEXPo8q7q3w,False,NaN,NaN,11:00,NaN,NaN,NaN,NaN,11:00,...,NaN,casual,NaN,True,NaN,NaN,False,NaN,NaN,False
18324,BVxlrYWgmi-8TPGMe6CTpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Tollcross;Old Town,NaN,NaN,NaN,NaN,NaN